body {
  background-color: #0d6efd;
  font-size: 20px;
}
.card {
  border-radius: 20px;
  height: 30em;
  width: 20em;
  margin-top: 4em;
}
h3 {
  text-align: center;
}

#plan {
  text-align: center;
  font-weight: 600;
}
li {
  margin-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.button {
  display: flex;
  justify-content: center;
 
}
button {
  font-weight: 600;
  width: 80%;
}
